Python/.idea/inspectionProfiles/profiles_settings.xml
Python/.idea/inspectionProfiles/Project_Default.xml
PROG_mini_project_groep3/
Python/Test.py


Python/__pycache__/AnderStation.cpython-35.pyc

Python/__pycache__/AnderStation.cpython-35.pyc

Python/__pycache__/MasterApp.cpython-35.pyc

*.pyc
