Python/.idea/inspectionProfiles/profiles_settings.xml
Python/.idea/inspectionProfiles/Project_Default.xml
Python/.idea/Python.iml
Python/.idea/Python.iml
Python/.idea/workspace.xml
Python/.idea/misc.xml
PROG_mini_project_groep3/
